
<section class="hero">
    <h1>Welcome to CSE Motors</h1>
    <p>We are Your trusted car dealership for quality vehicles</p>
</section>

<section class="cars">
    <div class="car-item">
        <h2>Ferari - $25,000</h2>
        <img src="/images/ferari.jpg" alt="Car ferari">
    </div>
    <div class="car-item">
        <h2>Truck - $200,000</h2>
        <img src="/images/trucks.jpg" alt="Car Truck">
    </div>
    <div class="car-item">
        <h2 > sports-car - $100,000</h2>
        <img src="/images/sport.jpg" alt="Car sport">
    </div>
</section>
