/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    color: #333;
}

header {
    background-color: #333;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
h1 {
    color: red;
}

.logo img {
    width: 60px;
    height: auto;
}

header nav {
    flex-grow: 1;
    text-align: right;
    color: rgb(red, green, blue);
    font-family: Arial, Helvetica, sans-serif;
    
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline;
    margin: 0 15px;
}

header ul li a {
    color: white;
    text-decoration: none;
}

main {
    flex: 1; /* Expands main content to push the footer down */
}

footer {
    background-color: #333;
    color: white;
    padding: 2rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.welcome-message {
    flex: 1;
    text-align: left;
    padding: 0 1rem;
}

.contact-info {
    flex: 1;
    text-align: center;
    padding: 0 1rem;
}

.social-media {
    flex: 1;
    text-align: right;
    padding: 0 1rem;
}

.social-media a img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

footer p {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
}
/* Hero Section */
.hero {
    background: #f4f4f4;
    padding: 2rem;
    text-align: center;
}

.cars {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    text-align: center;
}

.cars .car-item img {
    width: 100%;
    height: auto;
}

/* Media Queries for Larger Screens */
@media screen and (min-width: 768px) {
    .cars {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .cars {
        grid-template-columns: repeat(3, 1fr);
    }
}
