<section class="banner"></section>
    <h1>Welcome to CSE Motors</h1>
    <p>Your trusted car dealership for quality vehicles</p>
</section>

<section class="cars">
    <div class="car-item">
        <h2>Ferari- shillings 2,000,000</h2>
        <img src="/images/ferari.jpg" alt="Car 1">
    </div>

    <div class="car-item">
        <h2>Truck - shillings 3,000,000</h2>
        <img src="/images/trucks.jpg" alt="Car 2">
    </div>

    <div class="car-item">
        <h2>Sport- shillings 4,000,000</h2>
        <img src="/images/sport.jpg" alt="Car 3">
    </div>

</section>